.SideDrawerItems {
  background-color: #1776b1 !important;
  border-bottom: 1px solid #dbdcd2;
  border-top: 1px solid #dbdcd2;
  border-right: none;
  border-radius: 0;
}

.SideDrawerItems:first-of-type {
  border-top: 0;
}
.SideDrawerItems:last-of-type {
  border-bottom: 0;
}

.SideDrawerItems a {
  position: relative;
  border: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 18px;
  letter-spacing: 1px;
  font-weight: 400 !important;
  font-family: UnitedSansSemiCond-Light;
  padding: 15px;
  margin: 0;
  width: 100%;
  background-color: transparent;
}
.SideDrawerItems a:focus {
  outline: none;
}
