.Logo {
  margin: 0 auto;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  clear: both;
}
.Logo .mobileLogo {
  display: block;
  height: 25px;
  position: relative;
}

.Logo .largeLogo {
  display: none;
}
@media (min-width: 310px) {
  .Logo .mobileLogo {
    height: 35px;
  }
}
@media (min-width: 768px) {
  .Logo .mobileLogo {
    display: none;
  }
  .Logo .largeLogo {
    display: block;
    height: 65px;
    margin-top: 10px;
    margin-bottom: 25px;
    position: relative;
  }
}
