.sortBar {
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 400;
  width: 100%;
  margin: 5px auto;
}

.sortBar form {
  position: relative;
  margin: 0 auto;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
}
.radioButton {
  position: relative;
  display: block;
}
.radioButton label {
  display: block;
  background: #f7f9f9;
  color: #000;
  border-radius: 5px;
  padding: 15px;
  border: 2px solid #63d2ff;
  margin: 0 5px;
  width: 25vmin;
  cursor: pointer;
  overflow: hidden;
}
.radioButton label:after,
.radioButton label:before {
  content: "";
  position: absolute;
  right: 5px;
  top: 32px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background: #63d2ff;
}
.radioButton label:before {
  background: transparent;
  transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s,
    0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
  z-index: 2;
  overflow: hidden;
}
.radioButton input[type="radio"] {
  display: none;
  position: absolute;
  width: 100%;
  appearance: none;
}
.radioButton input[type="radio"]:checked + label {
  background: #63d2ff;
  animation-name: blink;
  animation-duration: 1s;
  border-color: #1776b1;
}
.radioButton input[type="radio"]:checked + label:after {
  background: #1c0068;
}
.radioButton input[type="radio"]:checked + label:before {
  width: 20px;
  height: 20px;
}
@media (min-width: 768px) {
  .sortBar {
    width: 90vw;
    margin: 5px auto;
  }

  .sortBar form {
    position: relative;
    margin: 10px auto;
    font-size: 15px;
  }

  .radioButton label {
    padding: 10px;
    margin: 0 15px;
    width: 25vmin;
    overflow: hidden;
  }
  .radioButton label:after,
  .radioButton label:before {
    right: 20px;
    top: 13px;
  }
}
@keyframes blink {
  0% {
    background-color: #c6eeff;
  }
  10% {
    background-color: #b8eaff;
  }
  11% {
    background-color: #a9e6ff;
  }
  29% {
    background-color: #9be2ff;
  }
  30% {
    background-color: #8ddeff;
  }
  50% {
    background-color: #7fdaff;
  }
  45% {
    background-color: #71d6ff;
  }
  50% {
    background-color: #63d2ff;
  }
  100% {
    background-color: #5aefe8;
  }
}
