.SignInDropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  float: left;
  min-width: 165px;
  padding: 5px 0;
  margin: 2px 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
  z-index: 90;
}
