.Cart {
  color: #fff !important;
  margin: 0;
  padding: 15px;
  float: right;
  font-size: 0.5rem;
  justify-content: center;
  cursor: pointer;
  display: flex;
  line-height: 18px;
  text-decoration: none !important;
  outline: none;
  background: transparent;
  border: none;
}

.Cart span {
  margin-right: 5px;
}
.Cart button:hover,
.Cart span:hover {
  background-color: none;
  text-decoration: none !important;
}
.Cart img {
  height: 21px;
}
@media (min-width: 576px) {
  .Cart {
    font-size: 0.7rem;
  }
}
@media (min-width: 768px) {
  .Cart {
    margin: 15px 15px 0 0;
    float: right;
    font-size: 1rem;
    line-height: 25px;
  }

  .Cart span {
    margin-right: 10px;
  }

  .Cart img {
    height: 30px;
  }
}
